[server]
token = MTI4NTgwMTUxNDc2NTM4NTgxMg.G2iMSb.9Svaf5lpPaVe6ZJSN7Rxoqdx0yYiY-HGqvUQNI
name = Reaction Light
system_channel =
logo = https://cdn.discordapp.com/attachments/915013456749543525/915372094785716275/reactionlight.png
colour = 0xffff00
language = en-gb
